body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.container {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-block {
    width: 100%;
    margin-bottom: 150px;
}

.main-block-image{
    background-image: url('../resources/background-header-image.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 1150px;
    height: 500px;

    display: flex;
    padding-left: 40px;
    padding-bottom: 40px;
}

.main-block-image > p {
    align-content: end;
    font-size: 20px;
    line-height: 27.32px;
    color: #ffffff;
    width: 40%;
}

.main-block > h1 {
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}


.about > h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about > p {
    display: inline-block;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.03em; 
    margin-bottom: 30px;
}

.about > .services-link {
    display: block;
    color: white;
    background-color: #AD1818;
    width: 255px;
    height: 67px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 67px;
    border-radius: 5px;
}

.projects {
    margin-top: 150px;
}

.projects > h2 {
    color: #121212; 
    font-size: 18px;  
    font-weight: 400
}

.projects__item {
    margin-top: 30px;
}

.projects__item > img {
    width: 100%;
}

.projects__item > p {
    height: 41px;
    margin-top: 15px;
    color: #121212; 
    font-size: 30px;
    font-weight: 400;
}

.projects__item > a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #AD1818;
    font-size: 20px;
}
